/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #0f172a;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    display: none;
  }
}

.media-row {
  display: flex;
  flex-direction: column; 
  gap: 30px;
  width: 100%;
  max-width: 1200px;        
}

.media-card {
  flex: 1;                  
  min-width: 550px;       
  max-width: 680px;        
  background-color: khaki;
}


@media (max-width: 768px) {
  .card ul li {
    white-space: normal;   
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #0f172a;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    display: none;
  }

}
